*{
    margin:0;
    padding:0;
    font-family:url("https://fonts.google.com/specimen/Inter");
}
h2{
    font-weight: 700;
}
.container{
    height:750px;
    width:100%;
    background-color: hsl(233, 47%, 7%);
}
.card-width{
    height:450px;
    width:70%;
    background:hsl(244, 38%, 16%);
    position:relative;
    top:18%;
    left:14%;
    border-radius: 10px;
    display: flex;
}
.card-desc{
    width:50%;
    height:100%;
}
.h1{
    font-size: 38px;
    color:hsl(0, 0%, 100%);
    text-align: center;
    width: 80%;
    letter-spacing: 1.8px;
    line-height: 50px;
    padding-top:60px;
    padding-left:60px;
}
.p1{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    width:70%;
    padding-top:30px;
    padding-left:90px;
    line-height: 30.4px;
    letter-spacing: 1.4px;
}
.to_flex{
    display: flex;
    padding-top:50px;
    padding-left: 90px;
}
.to_flex h2{
    color:hsla(0, 0%, 100%, 0.6);
}
.card-img{
    width: 50%;
    height:100%;
}
.card-img{
    background-size: cover;
    border-radius: 0 10px 10px 0;
    background-image: url('images/image-header-desktop.jpg');
    box-shadow: inset 0 0 0 1000px rgba(110, 18, 167, 0.5);
}